@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc; /*  clean off-white */
  --foreground: #0f172a; /* dark slate for text */
}

body {
  color: var(--foreground);
  background: var(--background);
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}